@inherits LayoutComponentBase

<div class="page">
    <div class="app-header">
        Praćenje finansija
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <div class="bottom-navbar">
        <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
            <img src="Images/transaction.svg" alt="Transactions" class="icon" />
        </NavLink>
        <NavLink href="/analytics" class="nav-item" Match="NavLinkMatch.All">
            <img src="Images/analytics.svg" alt="Analytics" class="icon" />
        </NavLink>
        <NavLink href="/categories" class="nav-item">
            <img src="Images/category.svg" alt="Categories" class="icon" />
        </NavLink>
        <NavLink href="/savings" class="nav-item">
            <img src="Images/savings.svg" alt="Savings" class="icon" />
        </NavLink>
        <NavLink href="/info" class="nav-item">
            <img src="Images/info.svg" alt="Info" class="icon" />
        </NavLink>
    </div>
</div>