@inherits LayoutComponentBase

<div class="page">
    <div class="app-header">
        Praćenje finansija
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <div class="bottom-navbar">
        <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
            <span class="icon">📊</span>
            <span>Pregled</span>
        </NavLink>
        <NavLink href="/categories" class="nav-item">
            <span class="icon">🏷️</span>
            <span>Kategorije</span>
        </NavLink>
        <NavLink href="/savings" class="nav-item">
            <span class="icon">💸</span>
            <span>Štednja</span>
        </NavLink>
        <NavLink href="/info" class="nav-item">
            <span class="icon">ℹ️</span>
            <span>Više</span>
        </NavLink>
    </div>
</div>