@page "/categories"
@using FinancialTracker.Models
@using FinancialTracker.Services
@inject NavigationManager Navigation
@inject TransactionService TransactionService

<h2>Kategorije</h2>

<EditForm Model="newCategory" OnValidSubmit="AddCategory">
    <div class="space-x-2 mb-4">
        <InputText @bind-Value="newCategory.Name" class="input" placeholder="Nova kategorija" />
        <button class="btn btn-primary">➕ Dodaj</button>
    </div>
</EditForm>

@if (categories == null)
{
    <p>Učitavanje...</p>
}
else if (!categories.Any())
{
    <p>Nema unetih kategorija.</p>
}
else
{
    <p class="mb-2">Unete kategorije:</p>

    <ul class="category-list">
        @foreach (var cat in categories)
        {
            <li class="category-item">
                <InputText @bind-Value="cat.Name" class="input flex-1 mr-2 mb-0" />
                <div class="space-x-2">
                    <button @onclick="() => UpdateCategory(cat)" class="btn btn-secondary btn-sm">💾</button>
                    <button @onclick="() => DeleteCategory(cat.Id)" class="btn btn-danger btn-sm">🗑️</button>
                </div>
            </li>
        }
    </ul>
}

@code {
    private Category newCategory = new();
    private List<Category> categories = new();

    protected override async Task OnInitializedAsync()
    {
        categories = await TransactionService.GetCategories();
    }

    private async Task AddCategory()
    {
        if (!string.IsNullOrWhiteSpace(newCategory.Name))
        {
            await TransactionService.AddCategory(newCategory);
            newCategory = new();
            categories = await TransactionService.GetCategories();
        }
    }

    private async Task DeleteCategory(int id)
    {
        await TransactionService.DeleteCategory(id);
        categories = await TransactionService.GetCategories();
    }

    private async Task UpdateCategory(Category category)
    {
        if (!string.IsNullOrWhiteSpace(category.Name))
        {
            await TransactionService.UpdateCategory(category);
        }
    }
}